# Fichiers générés par le build
*.iml
.gradle
/local.properties
/.idea
.DS_Store
**/build/
.externalNativeBuild
.cxx
local.properties

# Fichiers de signature (NE JAMAIS PUBLIER VOS CLÉS PRIVÉES)
*.jks
*.keystore
!debug.keystore

# Logs
*.log